<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.suep.smart.admin.dao.StaffPactMapper">

  <resultMap id="BaseResultMap" type="edu.suep.smart.admin.model.StaffPact">
	<id column="id" jdbcType="BIGINT" property="id" />
	<result column="code" jdbcType="VARCHAR" property="code" />
	<result column="signtype" jdbcType="VARCHAR" property="signtype" />
	<result column="firstparty" jdbcType="VARCHAR" property="firstparty" />
	<result column="secondparty" jdbcType="VARCHAR" property="secondparty" />
	<result column="servicelife" jdbcType="VARCHAR" property="servicelife" />
	<result column="workplace" jdbcType="VARCHAR" property="workplace" />
	<result column="workduties" jdbcType="VARCHAR" property="workduties" />
	<result column="dispatchagency" jdbcType="VARCHAR" property="dispatchagency" />
	<result column="signdate" jdbcType="DATE" property="signdate" />
	<result column="pstartdate" jdbcType="DATE" property="pstartdate" />
	<result column="penddate" jdbcType="DATE" property="penddate" />
	<result column="regularizationdate" jdbcType="DATE" property="regularizationdate" />
	<result column="type" jdbcType="VARCHAR" property="type" />
	<result column="periodtype" jdbcType="INTEGER" property="periodtype" />
	<result column="create_by" jdbcType="VARCHAR" property="createBy" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
	<result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  
  <insert id="add" parameterType="edu.suep.smart.admin.model.StaffPact">
    insert into staff_pact
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="signtype != null">
        signtype,
      </if>
      <if test="firstparty != null">
        firstparty,
      </if>
      <if test="secondparty != null">
        secondparty,
      </if>
      <if test="servicelife != null">
        servicelife,
      </if>
      <if test="workplace != null">
        workplace,
      </if>
      <if test="workduties != null">
        workduties,
      </if>
      <if test="dispatchagency != null">
        dispatchagency,
      </if>
      <if test="signdate != null">
        signdate,
      </if>
      <if test="pstartdate != null">
        pstartdate,
      </if>
      <if test="penddate != null">
        penddate,
      </if>
      <if test="regularizationdate != null">
        regularizationdate,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="periodtype != null">
        periodtype,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="signtype != null">
        #{signtype,jdbcType=VARCHAR},
      </if>
      <if test="firstparty != null">
        #{firstparty,jdbcType=VARCHAR},
      </if>
      <if test="secondparty != null">
        #{secondparty,jdbcType=VARCHAR},
      </if>
      <if test="servicelife != null">
        #{servicelife,jdbcType=VARCHAR},
      </if>
      <if test="workplace != null">
        #{workplace,jdbcType=VARCHAR},
      </if>
      <if test="workduties != null">
        #{workduties,jdbcType=VARCHAR},
      </if>
      <if test="dispatchagency != null">
        #{dispatchagency,jdbcType=VARCHAR},
      </if>
      <if test="signdate != null">
        #{signdate,jdbcType=DATE},
      </if>
      <if test="pstartdate != null">
        #{pstartdate,jdbcType=DATE},
      </if>
      <if test="penddate != null">
        #{penddate,jdbcType=DATE},
      </if>
      <if test="regularizationdate != null">
        #{regularizationdate,jdbcType=DATE},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="periodtype != null">
        #{periodtype,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <delete id="delete" parameterType="java.lang.Long">
    delete from staff_pact
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <update id="update" parameterType="edu.suep.smart.admin.model.StaffPact">
    update staff_pact
    <set>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="signtype != null">
        signtype = #{signtype,jdbcType=VARCHAR},
      </if>
      <if test="firstparty != null">
        firstparty = #{firstparty,jdbcType=VARCHAR},
      </if>
      <if test="secondparty != null">
        secondparty = #{secondparty,jdbcType=VARCHAR},
      </if>
      <if test="servicelife != null">
        servicelife = #{servicelife,jdbcType=VARCHAR},
      </if>
      <if test="workplace != null">
        workplace = #{workplace,jdbcType=VARCHAR},
      </if>
      <if test="workduties != null">
        workduties = #{workduties,jdbcType=VARCHAR},
      </if>
      <if test="dispatchagency != null">
        dispatchagency = #{dispatchagency,jdbcType=VARCHAR},
      </if>
      <if test="signdate != null">
        signdate = #{signdate,jdbcType=DATE},
      </if>
      <if test="pstartdate != null">
        pstartdate = #{pstartdate,jdbcType=DATE},
      </if>
      <if test="penddate != null">
        penddate = #{penddate,jdbcType=DATE},
      </if>
      <if test="regularizationdate != null">
        regularizationdate = #{regularizationdate,jdbcType=DATE},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="periodtype != null">
        periodtype = #{periodtype,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from staff_pact
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findPage" resultMap="BaseResultMap">
    select * from staff_pact
  </select>
  
</mapper>