<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.suep.smart.admin.dao.StaffPhysicalMapper">

  <resultMap id="BaseResultMap" type="edu.suep.smart.admin.model.StaffPhysical">
	<id column="id" jdbcType="BIGINT" property="id" />
	<result column="staffid" jdbcType="BIGINT" property="staffid" />
	<result column="achromate" jdbcType="VARCHAR" property="achromate" />
	<result column="bloodtype" jdbcType="VARCHAR" property="bloodtype" />
	<result column="hospital" jdbcType="VARCHAR" property="hospital" />
	<result column="item" jdbcType="VARCHAR" property="item" />
	<result column="conclusion" jdbcType="VARCHAR" property="conclusion" />
	<result column="height" jdbcType="DOUBLE" property="height" />
	<result column="weight" jdbcType="DOUBLE" property="weight" />
	<result column="eyesightl" jdbcType="DOUBLE" property="eyesightl" />
	<result column="eyesightr" jdbcType="DOUBLE" property="eyesightr" />
	<result column="create_by" jdbcType="VARCHAR" property="createBy" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
	<result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  
  <insert id="add" parameterType="edu.suep.smart.admin.model.StaffPhysical">
    insert into staff_physical
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="staffid != null">
        staffid,
      </if>
      <if test="achromate != null">
        achromate,
      </if>
      <if test="bloodtype != null">
        bloodtype,
      </if>
      <if test="hospital != null">
        hospital,
      </if>
      <if test="item != null">
        item,
      </if>
      <if test="conclusion != null">
        conclusion,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="eyesightl != null">
        eyesightl,
      </if>
      <if test="eyesightr != null">
        eyesightr,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="staffid != null">
        #{staffid,jdbcType=BIGINT},
      </if>
      <if test="achromate != null">
        #{achromate,jdbcType=VARCHAR},
      </if>
      <if test="bloodtype != null">
        #{bloodtype,jdbcType=VARCHAR},
      </if>
      <if test="hospital != null">
        #{hospital,jdbcType=VARCHAR},
      </if>
      <if test="item != null">
        #{item,jdbcType=VARCHAR},
      </if>
      <if test="conclusion != null">
        #{conclusion,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        #{height,jdbcType=DOUBLE},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="eyesightl != null">
        #{eyesightl,jdbcType=DOUBLE},
      </if>
      <if test="eyesightr != null">
        #{eyesightr,jdbcType=DOUBLE},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <delete id="delete" parameterType="java.lang.Long">
    delete from staff_physical
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <update id="update" parameterType="edu.suep.smart.admin.model.StaffPhysical">
    update staff_physical
    <set>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="staffid != null">
        staffid = #{staffid,jdbcType=BIGINT},
      </if>
      <if test="achromate != null">
        achromate = #{achromate,jdbcType=VARCHAR},
      </if>
      <if test="bloodtype != null">
        bloodtype = #{bloodtype,jdbcType=VARCHAR},
      </if>
      <if test="hospital != null">
        hospital = #{hospital,jdbcType=VARCHAR},
      </if>
      <if test="item != null">
        item = #{item,jdbcType=VARCHAR},
      </if>
      <if test="conclusion != null">
        conclusion = #{conclusion,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=DOUBLE},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="eyesightl != null">
        eyesightl = #{eyesightl,jdbcType=DOUBLE},
      </if>
      <if test="eyesightr != null">
        eyesightr = #{eyesightr,jdbcType=DOUBLE},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from staff_physical
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findPage" resultMap="BaseResultMap">
    select * from staff_physical
  </select>
  
</mapper>