<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.suep.smart.admin.dao.StaffForbidstrategyMapper">

  <resultMap id="BaseResultMap" type="edu.suep.smart.admin.model.StaffForbidstrategy">
	<id column="id" jdbcType="BIGINT" property="id" />
	<result column="name" jdbcType="VARCHAR" property="name" />
	<result column="reason" jdbcType="VARCHAR" property="reason" />
	<result column="status" jdbcType="BIGINT" property="status" />
	<result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
	<result column="strategyendtime" jdbcType="TIMESTAMP" property="strategyendtime" />
	<result column="personcode" jdbcType="VARCHAR" property="personcode" />
	<result column="devicecode" jdbcType="VARCHAR" property="devicecode" />
	<result column="forbidstart" jdbcType="DATE" property="forbidstart" />
	<result column="forbidend" jdbcType="DATE" property="forbidend" />
	<result column="create_by" jdbcType="VARCHAR" property="createBy" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
	<result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  
  <insert id="add" parameterType="edu.suep.smart.admin.model.StaffForbidstrategy">
    insert into staff_forbidstrategy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="starttime != null">
        starttime,
      </if>
      <if test="strategyendtime != null">
        strategyendtime,
      </if>
      <if test="personcode != null">
        personcode,
      </if>
      <if test="devicecode != null">
        devicecode,
      </if>
      <if test="forbidstart != null">
        forbidstart,
      </if>
      <if test="forbidend != null">
        forbidend,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIGINT},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="strategyendtime != null">
        #{strategyendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="personcode != null">
        #{personcode,jdbcType=VARCHAR},
      </if>
      <if test="devicecode != null">
        #{devicecode,jdbcType=VARCHAR},
      </if>
      <if test="forbidstart != null">
        #{forbidstart,jdbcType=DATE},
      </if>
      <if test="forbidend != null">
        #{forbidend,jdbcType=DATE},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <delete id="delete" parameterType="java.lang.Long">
    delete from staff_forbidstrategy
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <update id="update" parameterType="edu.suep.smart.admin.model.StaffForbidstrategy">
    update staff_forbidstrategy
    <set>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIGINT},
      </if>
      <if test="starttime != null">
        starttime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="strategyendtime != null">
        strategyendtime = #{strategyendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="personcode != null">
        personcode = #{personcode,jdbcType=VARCHAR},
      </if>
      <if test="devicecode != null">
        devicecode = #{devicecode,jdbcType=VARCHAR},
      </if>
      <if test="forbidstart != null">
        forbidstart = #{forbidstart,jdbcType=DATE},
      </if>
      <if test="forbidend != null">
        forbidend = #{forbidend,jdbcType=DATE},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from staff_forbidstrategy
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findPage" resultMap="BaseResultMap">
    select * from staff_forbidstrategy
  </select>
  
</mapper>