<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.suep.smart.admin.dao.StaffForbiddetailMapper">

  <resultMap id="BaseResultMap" type="edu.suep.smart.admin.model.StaffForbiddetail">
	<id column="id" jdbcType="BIGINT" property="id" />
	<result column="strategyid" jdbcType="BIGINT" property="strategyid" />
	<result column="workname" jdbcType="VARCHAR" property="workname" />
	<result column="device" jdbcType="BIGINT" property="device" />
	<result column="begintime" jdbcType="TIME" property="begintime" />
	<result column="stoptime" jdbcType="TIME" property="stoptime" />
	<result column="create_by" jdbcType="VARCHAR" property="createBy" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
	<result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  
  <insert id="add" parameterType="edu.suep.smart.admin.model.StaffForbiddetail">
    insert into staff_forbiddetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="strategyid != null">
        strategyid,
      </if>
      <if test="workname != null">
        workname,
      </if>
      <if test="device != null">
        device,
      </if>
      <if test="begintime != null">
        begintime,
      </if>
      <if test="stoptime != null">
        stoptime,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="strategyid != null">
        #{strategyid,jdbcType=BIGINT},
      </if>
      <if test="workname != null">
        #{workname,jdbcType=VARCHAR},
      </if>
      <if test="device != null">
        #{device,jdbcType=BIGINT},
      </if>
      <if test="begintime != null">
        #{begintime,jdbcType=TIME},
      </if>
      <if test="stoptime != null">
        #{stoptime,jdbcType=TIME},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <delete id="delete" parameterType="java.lang.Long">
    delete from staff_forbiddetail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <update id="update" parameterType="edu.suep.smart.admin.model.StaffForbiddetail">
    update staff_forbiddetail
    <set>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="strategyid != null">
        strategyid = #{strategyid,jdbcType=BIGINT},
      </if>
      <if test="workname != null">
        workname = #{workname,jdbcType=VARCHAR},
      </if>
      <if test="device != null">
        device = #{device,jdbcType=BIGINT},
      </if>
      <if test="begintime != null">
        begintime = #{begintime,jdbcType=TIME},
      </if>
      <if test="stoptime != null">
        stoptime = #{stoptime,jdbcType=TIME},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from staff_forbiddetail
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findPage" resultMap="BaseResultMap">
    select * from staff_forbiddetail
  </select>
  
</mapper>